In [5]:
import matplotlib.pyplot as plt
import matplotlib as mpl # 한글 폰트 설정 (NanumGothic) 
mpl.rcParams['font.family'] = 'NanumGothic'
mpl.rcParams['axes.unicode_minus'] = False  # 마이너스 기호 깨짐 방지
import pandas as pd 
orgDf = pd.read_csv('../../datasets/LetalCarOfContractType.csv')
orgDf.head()

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0
2,66756657,렌탈,Normal,홈쇼핑/방송,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,8.0,우리은행,정상,60.0,2363.0
3,66423450,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,계약확정,0,없음,5.0,농협은행,정상,60.0,2449.0
4,66423204,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,해약확정,12,있음,8.0,농협은행,해약,51.0,1942.0

## 연속형 / 연속형
- ( Correlation Coefficiency ) 상관관계 확인
    + -1 <= x <= 1 : 0.5 or -0.5 기준(threadhold)으로 상관관계가 있음 없음을 판단
    + -1에 가까우면 반비례, 1에 가까우면 정비례

### 분석
- 가설 : 나이에 따른 마일리지 변화가 있는가 ?
    + 귀무 가설 : 나이에 따른 마일리지 변화가 없다
    + 대립 가설 : 나이에 따른 마일리지 변화가 있다
- 대상 변수 : age, mileage

In [6]:
orgDf[['age', 'Mileage']].isna().sum()

age        10795
Mileage    10795
dtype: int64

In [7]:
orgDf[['age', 'Mileage']].corr()
# 대상은 관계가 있다 > 대립가설

              age   Mileage
age      1.000000  0.973281
Mileage  0.973281  1.000000

### 정규 분포 여부 확인