In [18]:
import matplotlib.pyplot as plt
import matplotlib as mpl # 한글 폰트 설정 (NanumGothic)
import pandas as pd 
import seaborn as sns
import scipy.stats as stats


mpl.rcParams['font.family'] = 'NanumGothic'
mpl.rcParams['axes.unicode_minus'] = False  # 마이너스 기호 깨짐 방지

orgDf = pd.read_csv('../../datasets/LetalCarOfContractType.csv')
orgDf.head()

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0
2,66756657,렌탈,Normal,홈쇼핑/방송,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,8.0,우리은행,정상,60.0,2363.0
3,66423450,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,계약확정,0,없음,5.0,농협은행,정상,60.0,2449.0
4,66423204,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,해약확정,12,있음,8.0,농협은행,해약,51.0,1942.0

## 범주형 / 연속형
- 연속형 항목 정규 분포이며 등분산일 때

### 예비 가설
- 분석 내용 : Channel 중, 서비스 방문과 홈쇼핑/방문 따른 마일리지 차이가 있는가 ?
    + 귀무가설 : 차이가 없다
    + 대립 가설 : 차이가 있다
- 결론 : pvalue=0.9773883382804684
    + 귀무 가설 성립

In [19]:
condChnFrst = 'channel == "서비스 방문"'
# orgDf.loc[(orgDf['channel'] == '서비스 방문')]

chnFirstDf = orgDf.query(condChnFrst).dropna()
len(chnFirstDf) # 갯수가 동일한지 확인을 통해 잘 나오는지 확인

12533

In [20]:
condChnScnd = 'channel == "홈쇼핑/방송"'
chnScndDf = orgDf.query(condChnScnd).dropna()
len(chnScndDf) # 갯수가 동일한지 확인을 통해 잘 나오는지 확인

11859

### 등분산 검증

In [21]:
import scipy.stats as stats
stats.levene(chnFirstDf['Mileage'], chnScndDf['Mileage'])

# 결과 : 등분산 - (P-Value > 0.04)

LeveneResult(statistic=2.2726910220513883, pvalue=0.13168404708783335)

### 분포 확인 : 범주형 2개인 경우

In [22]:
test_list = [chnFirstDf['Mileage'], chnScndDf['Mileage']]

stats.ttest_ind(*test_list, equal_var=True) # equal_var 등분산 경우 동작

TtestResult(statistic=-0.028343600501643834, pvalue=0.9773883382804684, df=24390.0)

### 범주형 3개 이상인 경우

In [23]:
condChnThrd = 'channel == "렌탈총판"'
chnThrdDf = orgDf.query(condChnThrd).dropna()
len(chnThrdDf) # 갯수가 동일한지 확인을 통해 잘 나오는지 확인

4266

In [25]:
test_list.append(chnThrdDf['Mileage'])
len(test_list)

3

In [26]:
stats.f_oneway(*test_list)

F_onewayResult(statistic=0.005093118700532355, pvalue=0.9949198301383902)