In [17]:
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import chi2_contingency, pearsonr, spearmanr

# Font settings
mpl.rcParams['font.family'] = 'NanumGothic'
mpl.rcParams['axes.unicode_minus'] = False  # Prevent minus sign issues


orgDf = pd.read_csv('../../datasets/credit_card_fraud_dataset.csv')
orgDf.head()

,TransactionID,TransactionDate,Amount,MerchantID,TransactionType,Location,IsFraud
0,1,2024-04-03 14:15:35.462794,4189.27,688,refund,San Antonio,0
1,2,2024-03-19 13:20:35.462824,2659.71,109,refund,Dallas,0
2,3,2024-01-08 10:08:35.462834,784.00,394,purchase,New York,0
3,4,2024-04-13 23:50:35.462850,3514.40,944,purchase,Philadelphia,0
4,5,2024-07-12 18:51:35.462858,369.07,475,purchase,Phoenix,0

In [18]:
orgDf.info(), orgDf.index, orgDf.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   TransactionID    100000 non-null  int64
 1   TransactionDate  100000 non-null  object
 2   Amount           100000 non-null  float64
 3   MerchantID       100000 non-null  int64
 4   TransactionType  100000 non-null  object
 5   Location         100000 non-null  object
 6   IsFraud          100000 non-null  int64
dtypes: float64(1), int64(3), object(3)
memory usage: 5.3+ MB

(None,
 RangeIndex(start=0, stop=100000, step=1),
        TransactionID         Amount     MerchantID        IsFraud
 count  100000.000000  100000.000000  100000.000000  100000.000000
 mean    50000.500000    2497.092666     501.676070       0.010000
 std     28867.657797    1442.415999     288.715868       0.099499
 min         1.000000       1.050000       1.000000       0.000000
 25%     25000.750000    1247.955000     252.000000       0.000000
 50%     50000.500000    2496.500000     503.000000       0.000000
 75%     75000.250000    3743.592500     753.000000       0.000000
 max    100000.000000    4999.770000    1000.000000       1.000000)

In [19]:
orgDf['Amount'].describe()

count    100000.000000
mean       2497.092666
std        1442.415999
min           1.050000
25%        1247.955000
50%        2496.500000
75%        3743.592500
max        4999.770000
Name: Amount, dtype: float64

In [20]:
len(orgDf['MerchantID'].value_counts()), orgDf['MerchantID'].value_counts()

(1000,
 MerchantID
 461    149
 188    134
 192    129
 517    128
 820    126
       ...
 119     75
 936     74
 968     73
 635     71
 512     69
 Name: count, Length: 1000, dtype: int64)

In [21]:
orgDf['IsFraud'].value_counts()

IsFraud
0    99000
1     1000
Name: count, dtype: int64

In [22]:
orgDf['Location'].value_counts()

Location
Chicago         10193
San Diego       10111
Dallas          10076
San Antonio     10062
New York         9993
Houston          9991
Phoenix          9960
Los Angeles      9936
Philadelphia     9873
San Jose         9805
Name: count, dtype: int64

In [23]:
fraud = orgDf[orgDf['IsFraud'] == 1]

In [24]:
fraud['Location'].value_counts()

Location
New York        116
San Diego       115
Houston         105
Phoenix          99
Dallas           99
San Antonio      99
Chicago          95
Los Angeles      95
Philadelphia     90
San Jose         87
Name: count, dtype: int64

In [25]:
rateOfPurchase = (orgDf['Location'].value_counts()) / 10000
rateOfPurchase

Location
Chicago         1.0193
San Diego       1.0111
Dallas          1.0076
San Antonio     1.0062
New York        0.9993
Houston         0.9991
Phoenix         0.9960
Los Angeles     0.9936
Philadelphia    0.9873
San Jose        0.9805
Name: count, dtype: float64