제안 8: 계약 갱신율 최적화 전략
- 문제 정의: 다양한 계약 유형 및 고객 특성을 분석하여 계약 갱신율을 증가시키는 전략을 개발합니다.
- 배경: 계약 갱신율을 높이기 위한 전략을 수립함으로써 장기적인 고객 관계를 유지하고, 안정적인 수익 흐름을 확보할 수 있습니다.

- Channel에 채널 재계약을 가진 데이터를 중심으로
- type_of_contract2에서의 상관관계 도출
- 전략 수립

In [1]:
# channel
# type_of_contract2

In [2]:
import matplotlib.pyplot as plt
import matplotlib as mpl # 한글 폰트 설정 (NanumGothic) 
mpl.rcParams['font.family'] = 'NanumGothic'
mpl.rcParams['axes.unicode_minus'] = False  # 마이너스 기호 깨짐 방지
import pandas as pd 
rentAcar = pd.read_csv('../../datasets/LetalCarOfContractType.csv')
rentAcar.head()

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0
2,66756657,렌탈,Normal,홈쇼핑/방송,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,8.0,우리은행,정상,60.0,2363.0
3,66423450,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,계약확정,0,없음,5.0,농협은행,정상,60.0,2449.0
4,66423204,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,해약확정,12,있음,8.0,농협은행,해약,51.0,1942.0

In [4]:
editDf = rentAcar[rentAcar['channel'] == '렌탈재계약']
editDf

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
3,66423450,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,계약확정,0,없음,5.0,농협은행,정상,60.0,2449.0
4,66423204,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,해약확정,12,있음,8.0,농협은행,해약,51.0,1942.0
15,66423049,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,계약확정,0,없음,2.0,농협은행,정상,33.0,1571.0
16,66423249,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,계약확정,0,없음,2.0,국민은행,정상,48.0,1957.0
18,66423230,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,계약확정,0,없음,2.0,우리은행,정상,41.0,1915.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49711,66208729,멤버십,TAS,렌탈재계약,2020-01-30,12,CMS,K1,75900,계약확정,1,있음,4.0,외환은행,정상,NaN,NaN
50096,25821609,멤버십,TAS,렌탈재계약,2020-01-31,12,CMS,K1,87900,계약확정,0,없음,NaN,우리은행,정상,NaN,NaN
50377,66441444,멤버십,TAS,렌탈재계약,2020-01-31,12,CMS,K1,66900,계약확정,0,없음,4.0,신한은행,정상,38.0,1686.0
50421,66442157,멤버십,TAS,렌탈재계약,2020-01-31,12,CMS,K1,66900,계약확정,0,없음,4.0,농협은행,정상,29.0,1364.0
50750,66131886,멤버십,TAS,렌탈재계약,2020-02-02,12,CMS,K1,66900,계약확정,0,없음,3.0,우리은행,정상,70.0,2611.0

In [7]:
editDf['type_of_contract'].value_counts()

type_of_contract
멤버십    2192
렌탈        1
Name: count, dtype: int64

In [8]:
editDf['type_of_contract2'].value_counts()

type_of_contract2
TAS       2179
TA1         13
Normal       1
Name: count, dtype: int64

In [10]:
editDf['Term'].value_counts()

Term
12    2192
60       1
Name: count, dtype: int64

In [11]:
editDf['product'].value_counts()

product
K1    2109
K2      78
K4       6
Name: count, dtype: int64

In [12]:
editDf['cancellation'].value_counts()

cancellation
정상    1763
해약     414
Name: count, dtype: int64

In [14]:
cancelDf = editDf[editDf['cancellation'] == '해약']
cancelDf['bank'].value_counts()

bank
국민은행      127
농협은행       93
우리은행       35
신한은행       34
하나은행       22
기업은행       13
부산은행       13
대구은행       11
외환은행       10
새마을금고       9
우체국         9
광주은행        9
롯데카드        6
경남은행        3
SC제일은행      3
현대카드        3
씨티은행        2
국민카드        2
전북은행        2
BC카드        2
신한카드        2
하나대투증권      1
삼성카드        1
신협중앙회       1
제주은행        1
Name: count, dtype: int64